body {
    width:100vw; height:100vh;
    margin: 0; padding: 0;
    overflow:hidden;
    font-family: 'Press Start 2P', cursive;
    background:black;
    color: #FFF;
}

container, foreground, background {
    box-sizing:border-box;
    width:100vw; height:100vh;
    padding:0; margin:0;
    overflow: hidden;
    display:block;
    position : absolute;
}

container {
    cursor:none;
    -webkit-animation: BlurScale 7s ease infinite alternate-reverse;
    animation: BlurScale 7s ease infinite alternate-reverse;
}

/* image in background to allow animation */

background img {
    width:100vw;
    height:100vh;
    object-fit: cover;
}

foreground {
    background-color:rgba(51, 26, 141, 0.6);
}

header {
    box-sizing:border-box;
    text-align: center;
    font-size:1.14vw;
    height: 22vh;
}



/* MENU SYSTEM */
/* PLAYER ROW */

#player-menu {
    display:flex;
    font-size: 1.8vw;
    justify-content: center;
    height: 10vh;
}

#player-menu div {
    padding: 1.6vw;
    height: 2vw;
}

/* GENRE ROW */

#genre-menu {
    padding:0vh 1vw;
    display:flex;
    justify-content: space-between;
    display:flex;
    height: 6vh;
}

#genre-menu div {
    padding: 1vw;
    font-size: 1.2vw;
    height: 1.2vw;
}


#game-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 23vh 23vh;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    justify-items: stretch;
    align-items: stretch;
    text-align: center;
    padding:1vh 1vw;  /* Y X */
 }

 
 #game-grid div {
    padding: 5vw;
    background-color:rgba(255,255,255,0.2);
    color: white; 
    /* to center the text horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
}


/* MENU ROW */

#page-menu {
    justify-content: center;
    display:flex;
    height:6vh;
}

#page-menu div {
    font-size: 1.4vw;
    height: 1.4vw;
}
/* MENU ROW */

#credits-menu {
    padding: 0vw 1vw;
    justify-content: space-between;
    display:flex;
    height:4vh;
}

#credits-menu div {
    font-size: 1.3vw;
    height:1.3vw;
}


/* SELECTION AND CURSOR POSITION */

#player-menu .selected, #genre-menu .selected, .game-row .selected {
    outline: 3px solid white;
    outline-offset: -3px;
}

#credits-menu .selected {
    outline: 3px solid white;
    outline-offset: 3px;
}

#page-menu div {
    padding:4px;
    margin:0px 10px;
}

#page-menu .selected {
    color:rgba(61,19,95,0.6);
    background-color:white;
}


.cursor {
    color: magenta !important;
    outline: 3px solid magenta !important;
}

/* LOGO ALWAYS TOP RIGHT */

#logo { 
    display:block;
    position: absolute;
    width:40px; height:30px;
    top:1.2vh; right:1.2vw;
    background-image:url(../images/hrlogo.png);
    background-size:contain;
    background-repeat:no-repeat;
}

/* RESPONSIVE WARNING */

warning {
    display:none;
    background-color:white;
    color:purple;
    text-align:center;
}

@media screen and (orientation:portrait) {
    warning {
        display:block !important;
        box-sizing: border-box;
        background-color:white;
        position: absolute;
        left:0px; top:0px;
        padding:4vw;
        width:100vw; height:100vh;
        z-index:10;
    }
}