body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
    background: black;
    color: #FFF;
}

* {
    box-sizing: border-box;
}

container, foreground, background {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: block;
    position: absolute;
}

container {
    cursor: none;
}

/* add this class to container or foreground sporadically */
.monitorEffect {
    animation: MonitorAnimation 6s 2;
    /* animation: BlurScale 6s ease infinite alternate-reverse; */
}

/* image in background to allow animation */
background img, background video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

foreground {
    background-color: rgba(51, 26, 141, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    box-sizing: border-box;
    text-align: center;
    font-size: 1.14vw;
}

instructions {
    flex-grow: 1;
    line-height: 140%;
    display:flex;
}

instructions div {
    padding: 2vh 4vw;
}

footer {
    justify-content: center;
    display: flex;
    height: 6vh;
    font-size: 1.4em;
}